@import '../../../../assets/sass/mixins';
@import '../../../../assets/sass/variables';

.form-content {
  margin-top: 60px;

  .form-title {
    font-family: $main-font;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
  }

  .card {
    border: none;
  }
}
