<nav class="navbar">
  <div class="navbar-brand">
    <div class="mask">
      <div class="logo">
        <img src="../../../assets/images/pokeball.svg" alt="Pokeball" />
      </div>
    </div>
  </div>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <i class="fas fa-bell"></i>
    </li>
    <li class="nav-item">
      <span class="username"><strong>Hello, </strong> {{ user.username }}</span>
    </li>
    <li class="nav-item logout" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
    </li>
  </ul>
</nav>
