@import '../../../assets/sass/mixins';
@import '../../../assets/sass/variables';

.navbar {
  background: $main-red;

  p {
    color: white;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 16px;
  }

  .logout {
    background-image: url('../../../assets/images/logout.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    width: 30px;
    text-indent: -99999px;

    &:focus {
      box-shadow: none;
    }
  }
}
