<form id="pokemon-form" [formGroup]="pokemonForm" (ngSubmit)="savePokemon()" novalidate>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label>Nom</label>
        <input type="text" class="form-control" formControlName="name" (keyup)="bindNameValue($event)" [ngStyle]="{'border': isExists ? '1px solid #e74541' : '1px solid #999'}" />
        <span class="remove-text" *ngIf="isExists" (click)="removeName()">
          <fa-icon [icon]="['fas', 'backspace']" class="alert-icon"></fa-icon>
        </span>
        <div class="alert alert-danger mt-2" role="alert" *ngIf="isExists">
          Ce Pokemon existe déjà
        </div>
      </div>
      <div class="col-md-4">
        <label>Slug</label>
        <input type="text" class="form-control" formControlName="slug" readonly />
      </div>
    </div>
  </div>

  <fieldset class="form-group" formGroupName="numbers">
    <div class="row">
      <div class="col-md-12">
        <legend>Numéros de Pokedex</legend>
      </div>
      <div class="col-md-2">
        <label>National</label>
        <input type="text" class="form-control" formControlName="national_number" />
      </div>
      <div class="col-md-2">
        <label>Kanto</label>
        <input type="text" class="form-control" formControlName="national_number" />
      </div>
      <div class="col-md-2">
        <label>Johto</label>
        <input type="text" class="form-control" formControlName="national_number" />
      </div>
    </div>
  </fieldset>
</form>
