@import '../../../../assets/sass/mixins';
@import '../../../../assets/sass/variables';

#pokemon-form {

  .form-group {
    margin-bottom: 25px;

    .form-control {
      border-color: #999;
      font-family: 'Montserrat', sans-serif;
    }

    .alert-danger {
      color: white;
      background-color: $main-red;
      border-color: darken($main-red, 10%);
    }

    .remove-text {
      position: absolute;
      top: 30px;
      right: 26px;
      font-size: 21px;
      color: $main-red;
      cursor: pointer;
    }

    textarea {
      height: 260px;
      font-family: 'Montserrat', sans-serif;
      padding: 20px;
      text-align: justify;
      border-color: #999;
      resize: none;
    }
  }

  fieldset {
    legend {
      font-size: 14px;
      font-family: $main-font;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
}

::ng-deep .multiselect-dropdown {
  .dropdown-btn {
    padding: 8px 12px !important;

    .selected-item {
      border: none !important;
      background: transparent !important;
      color: black !important;

      &:hover {
        box-shadow: none !important;
      }
    }

    .dropdown-down {
      margin-top: 10px;
      border-top: 8px solid $main-red !important;
      border-left: 8px solid transparent !important;
      border-right: 8px solid transparent !important;
    }

    .dropdown-up {
      border-bottom: 8px solid $main-red !important;
      border-left: 8px solid transparent !important;
      border-right: 8px solid transparent !important;
    }

    span {
      span:first-child {
        margin-top: 5px;
        display: inline-block;
      }
    }
  }
}

::ng-deep .multiselect-item-checkbox {
  padding: 12px 10px !important;

  input + div {
    &:before {
      color: $main-red !important;
      border: 2px solid $main-red !important;
    }
  }

  input:checked + div {
    &:before {
      background: $main-red !important;
    }
  }
}
