@import '../../../../assets/sass/mixins';
@import '../../../../assets/sass/variables';

#pokemon-form {

  .form-group {
    margin-bottom: 25px;

    .form-control {
      border-color: #999;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
    }

    .alert-danger {
      color: white;
      background-color: $main-red;
      border-color: darken($main-red, 10%);
    }

    .remove-text {
      position: absolute;
      top: 30px;
      right: 26px;
      font-size: 21px;
      color: $main-red;
      cursor: pointer;
    }

    textarea {
      height: 260px;
      font-family: 'Montserrat', sans-serif;
      padding: 20px;
      text-align: justify;
      border-color: #999;
      resize: none;
    }

    .radio {
      float: left;
      margin-right: 15px;

      label {
        font-size: 16px;
      }
    }
  }

  .numbers {
    legend {
      font-size: 14px;
      font-family: $main-font;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }

  .generations {
    .numbers {
      display: flex;

      .generation {
        cursor: pointer;
        padding: 12px 16px;
        background: lightgrey;
        border-radius: 100%;
        margin-right: 6px;
        color: white;
      }

      .active {
        background: $main-red;
      }
    }
  }

  .talents {
    .talent {
      input {
        display: inline-block;
        margin: 0 10px 10px 0;
        width: 90%;

        &::placeholder {
          font-size: 12px;
        }
      }

      span {
        cursor: pointer;
      }
    }
  }

  .sex {
    .genre {
      label {
        margin-top: 13px;
        width: 60px;
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: lighter;
      }
    }
  }

  .add-button {
    border: none;
    cursor: pointer;
    margin-bottom: 11px;
    font-size: 10px;
    background: black;
    padding: 8px 15px;
    display: inline-block;
    color: white;
    @include border-radius(20px);

    &:hover {
      background: $main-red;
    }
  }
}

::ng-deep .multiselect-dropdown {
  .dropdown-btn {
    padding: 8px 12px !important;

    .selected-item {
      border: none !important;
      background: transparent !important;
      color: black !important;

      &:hover {
        box-shadow: none !important;
      }
    }

    .dropdown-down {
      margin-top: 10px;
      border-top: 8px solid $main-red !important;
      border-left: 8px solid transparent !important;
      border-right: 8px solid transparent !important;
    }

    .dropdown-up {
      border-bottom: 8px solid $main-red !important;
      border-left: 8px solid transparent !important;
      border-right: 8px solid transparent !important;
    }

    span {
      span:first-child {
        margin-top: 5px;
        display: inline-block;
      }
    }
  }
}

::ng-deep .multiselect-item-checkbox {
  padding: 12px 10px !important;

  input + div {
    &:before {
      color: $main-red !important;
      border: 2px solid $main-red !important;
    }
  }

  input:checked + div {
    &:before {
      background: $main-red !important;
    }
  }
}

::ng-deep .checked {
  background: $main-red !important;
}
