<form id="pokemon-form" [formGroup]="pokemonForm" (ngSubmit)="savePokemon()" novalidate>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label>Nom</label>
        <input type="text" class="form-control" formControlName="name" (keyup)="bindNameValue($event)" [ngStyle]="{'border': isExists ? '1px solid #e74541' : '1px solid #999'}" />
        <span class="remove-text" *ngIf="isExists" (click)="removeName()">
          <fa-icon [icon]="['fas', 'backspace']" class="alert-icon"></fa-icon>
        </span>
        <div class="alert alert-danger mt-2" role="alert" *ngIf="isExists">
          Ce Pokemon existe déjà
        </div>
      </div>
      <div class="col-md-4">
        <label>Slug</label>
        <input type="text" class="form-control" formControlName="slug" readonly />
      </div>
    </div>
  </div>

  <fieldset class="form-group">
    <div class="row">
      <div class="col-md-12">
        <legend>Numéros de Pokedex</legend>
      </div>
      <div class="col-md-3 mb-3">
        <label>Kanto</label>
        <input type="text" class="form-control" formControlName="kanto" />
      </div>
      <div class="col-md-3 mb-3">
        <label>Johto <span class="version"><i>(Or, Argent et Cristal)</i></span></label>
        <input type="text" class="form-control" formControlName="johto_oac" />
      </div>
      <div class="col-md-3 mb-3">
        <label>Johto <span class="version"><i>(HeartGold et SoulSilver)</i></span></label>
        <input type="text" class="form-control" formControlName="johto_hgss" />
      </div>
      <div class="col-md-3 mb-3">
        <label>Hoenn <span class="version"><i>(Rubis, Saphir et Émeraude)</i></span></label>
        <input type="text" class="form-control" formControlName="hoenn_rse" />
      </div>
      <div class="col-md-3 mb-3">
        <label>Hoenn <span class="version"><i>(Rubis Oméga et Saphir Alpha)</i></span></label>
        <input type="text" class="form-control" formControlName="hoenn_rosa" />
      </div>
      <div class="col-md-3 mb-3">
        <label>Sinnoh</label>
        <input type="text" class="form-control" formControlName="sinnoh" />
      </div>
      <div class="col-md-3 mb-3">
        <label>Unys <span class="version"><i>(Noir et Blanc)</i></span></label>
        <input type="text" class="form-control" formControlName="unys_nb" />
      </div>
      <div class="col-md-3">
        <label>Unys <span class="version"><i>(Noir 2 et Blanc 2)</i></span></label>
        <input type="text" class="form-control" formControlName="unys_n2b2" />
      </div>
      <div class="col-md-3">
        <label>Kalos</label>
        <input type="text" class="form-control" formControlName="kalos" />
      </div>
      <div class="col-md-3">
        <label>Unys <span class="version"><i>(Noir 2 et Blanc 2)</i></span></label>
        <input type="text" class="form-control" formControlName="unys_n2b2" />
      </div>
      <div class="col-md-3">
        <label>Alola <span class="version"><i>(Soleil et Lune)</i></span></label>
        <input type="text" class="form-control" formControlName="alola_sl" />
      </div>
      <div class="col-md-3">
        <label>Alola <span class="version"><i>(Ultra-Soleil et Ultra-Lune)</i></span></label>
        <input type="text" class="form-control" formControlName="alola_usul" />
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label>Famille</label>
        <input type="text" class="form-control" formControlName="family" />
      </div>
      <div class="col-md-4">
        <label>Génération</label>
        <ng-multiselect-dropdown
          [placeholder]="'Générations'"
          [data]="dropdownGenerations"
          [settings]="dropdownGenerationsSettings"
          (onSelect)="onGenerationSelect($event)"
          ngDefaultControl
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
</form>
