<div id="profile" class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Mon profil <span class="is-admin" *ngIf="isAdmin">Administrateur</span></h3>
      <hr />

      <div class="user-informations row">
        <div class="no-trainer col-md-4">
          <img src="../../../../assets/images/no-trainer.svg" />
          <button type="button">Choisir un dresseur</button>
        </div>
        <form class="col-md-7">
          <div class="form-group">
            <label for="email">Adresse mail</label>
            <input type="email" class="form-control" id="email" >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
