<div id="profile" class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Mon profil <span class="is-admin" *ngIf="isAdmin">Administrateur</span></h3>
      <hr />

      <div class="user-informations row">
        <div class="no-trainer col-md-4">
          <img src="../../../../assets/images/no-trainer.svg" />
          <button type="button">Choisir un dresseur</button>
        </div>
        <form class="col-md-7" [formGroup]="userForm">
          <fieldset>
            <legend>Identifiants</legend>
            <div class="form-group">
              <label for="username">Nom d'utilisateur <span class="mandatory">*</span></label>
              <input type="text" class="form-control" id="username" formControlName="username" />
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" class="form-control" id="password" formControlName="password" />
            </div>
          </fieldset>
          <fieldset>
            <legend>Informations personnelles</legend>
            <div class="form-group">
              <label for="name">Nom</label>
              <input type="text" class="form-control" id="name" formControlName="name" />
            </div>
            <div class="form-group">
              <label for="firstname">Prénom</label>
              <input type="text" class="form-control" id="firstname" formControlName="firstname" />
            </div>
            <div class="form-group">
              <label for="email">Adresse mail <span class="mandatory">*</span></label>
              <input type="email" class="form-control" id="email" formControlName="email" />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
