<div class="container-fluid" *ngIf="isNew; else pokemonsList">
  <div class="row">
    <div class="intro offset-md-4 col-md-4">
      <img src="../../../assets/images/player.svg" alt="trainer" />
      <h3>Salut à toi dresseur Pokemon !</h3>
      <p>Bienvenue sur Pokepedia, le Pokédex personnel et personnalisable. Ici, tu vas pouvoir retrouver toutes les informations
        de tes <strong>Pokemons</strong> préférés, mais aussi configurer ton propre espace personnel en fonction des <strong>Pokemons</strong> que tu as attrapé
        sur n'importe quel plateforme de jeu. Tu pourras ensuite partager toutes informations avec d'autres dresseurs. On verra
        bien qui est le meilleur dresseur !</p>

      <a href="#" class="next-step">
        <img src="../../../assets/images/next-step.svg" alt="Next step button" />
        <span>C'est parti !</span>
      </a>
    </div>
  </div>
</div>

<ng-template #pokemonsList>
  <div class="container" id="pokemons-list">
    <div class="row">
      <div *ngFor="let pokemon of pokemons" class="pokemon col-md-2">
        <figure>
          <img class="thumb" src="../../../assets/images/pokemons/thumb/{{ pokemon.slug }}.png" alt="{{ pokemon.name }}"/>
          <figcaption>
            <span class="number">{{ pokemon?.national_number }}</span>
            <h4 class="name">{{ pokemon?.name }}</h4>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</ng-template>
