<div class="container-fluid" *ngIf="isNew">
  <div class="row">
    <div class="intro offset-md-3 col-md-6">
      <img src="../../../assets/images/player.svg" alt="trainer" />
      <h3>Salut à toi dresseur Pokemon !</h3>
      <p>Bienvenue sur Pokepedia, le Pokédex personnel et personnalisable. Ici, tu vas pouvoir retrouver toutes les informations
        de tes <strong>Pokemons</strong> préférés, mais aussi configurer ton propre espace personnel en fonction des <strong>Pokemons</strong> que tu as attrapé
        sur n'importe quel plate-forme de jeu. Tu pourras ensuite partager toutes informations avec d'autres dresseurs. On verra
        bien qui est le meilleur dresseur !</p>

      <a href="#" class="next-step">
        <img src="../../../assets/images/next-step.svg" alt="Next step button" />
        <span>C'est parti !</span>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col1 col-md-6"></div>
    <div class="col2 col-md-6"></div>
  </div>
</div>
