.container {
  margin-top: 50px;
  width: 980px;

  .console-container {
    margin-bottom: 30px;

    .console {
      background: lightgray;
      border-radius: 10px;
      padding: 40px 25px;

      &:hover {
        background: darken(lightgray, 5%);
        cursor: pointer;
      }

        img {
            display: block;
            margin: 0 auto;
        }

        h3 {
            text-transform: uppercase;
            font-size: 13px;
            text-align: center;
        }
    }
  }
}
