<div class="container-fluid">
  <div class="row">
    <div class="vertical-align-center d-flex align-items-center">
      <div class="form-container col-lg-4">
        <form (submit)="submit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="mail" autocomplete="off" [ngModelOptions]="{standalone: true}" />
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
          </div>
          <button type="submit" class="btn submit col-lg-4 d-lg-block m-lg-auto">Me connecter</button>
        </form>
      </div>
    </div>
  </div>
</div>
