@import "imports";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Work sans', Arial, sans-serif;
  line-height: 1;
  font-size: 13px;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', Arial, sans-serif;
}

p {
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: black;
  }
}

ul, ol {
  list-style: none;
}

img {
  border: 0;
}

li {
  list-style: none;
}

button {
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}

form {
  input {
    &:focus {
      box-shadow: none !important;
    }
  }

  .submit-button {
    background: $main-red;
    font-family: 'Montserrat', Arial, sans-serif;
    border: none;

    &:hover {
      background: darken($main-red, 10%);
    }

    &:active {
      background-color: darken($main-red, 20%) !important;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .cancel-button {
    font-family: 'Montserrat', Arial, sans-serif;
  }
}
