@import "imports";
@import "~bootstrap/dist/css/bootstrap.css";
@import '~icheck-material/icheck-material.min.css';

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Work sans', Arial, sans-serif;
  line-height: 1;
  font-size: 13px;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', Arial, sans-serif;
}

p {
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: black;
  }
}

li {
  list-style: none;
}

button {
  &:focus {
    outline: none;
  }
}

form {
  input {
    &:focus {
      border-color: #999 !important;
      box-shadow: none !important;
    }
  }
}
