<div class="pokemon-details container-fluid p-0">
  <div class="row">
    <div class="col-6">
      <img src="../../../../assets/images/pokemons/{{ pokemon?.slug }}.svg" [style.width]="setImageSize(pokemon?.size)">
    </div>

    <div class="col-5">
      <h2 class="name">{{ pokemon?.names.french }}</h2>
      <div class="national-number">#{{ pokemon?.pokedex[0].number }}</div>
      <div class="foreign-names">
        <p>{{ pokemon?.names.english }} - {{ pokemon?.names.japanese }}</p>
      </div>
      <p class="description">{{ pokemon?.description }}</p>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="nav-tabs col-md-12">
      <pokemon-tabs>
        <pokemon-tab [tabTitle]="'Évolutions'">Évolutions content</pokemon-tab>
        <pokemon-tab [tabTitle]="'Statistiques'">Statistiques</pokemon-tab>
      </pokemon-tabs>
    </div>
  </div>
</div>
