/* Colors variables */
$main-red: #e74541;
$input-text: #666;
$black: #273746;
$number-tag: #999;
$form-legend: #777;
$form-legend-border: #999;
$main-font: 'Montserrat', Arial, sans-serif;
$input-border: #adadad;
