<div class="container">
  <div id="filter" class="row">
    <div class="col-md-12 mb-2">
      <h4>Filtrer par :</h4>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <ng-multiselect-dropdown
            [placeholder]="'Générations'"
            [data]="dropdownGenerations"
            [settings]="dropdownGenerationsSettings"
            (onSelect)="onGenerationSelect($event)"
            (onDeSelect)="onGenerationDeselect($event)"
            (onSelectAll)="onGenerationSelectAll($event)"
            ngDefaultControl
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="col-md-3">
          <ng-multiselect-dropdown
            [placeholder]="'Types'"
            [data]="dropdownTypes"
            [settings]="dropdownTypesSettings"
            (onSelect)="onTypeSelect($event)"
            ngDefaultControl
          >
          </ng-multiselect-dropdown>
        </div>
        <!--<div class="col-md-7">
          <label>Types : </label>
          <div id="type-list" class="row">
            <div *ngFor="let type of types" ngbTooltip="{{ type.name }}" container="body" class="type col-md-1" (click)="onTypeSelect(type)">
              <img src="../../../../assets/images/types/{{ type.slug }}.svg" alt="{{ type.name }}" [class.active]="" />
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>

  <div id="pokemon-list" class="row">
    <div *ngFor="let pokemon of pokemons" class="pokemon col-md-2">
      <figure>
        <img class="thumb" src="../../../assets/images/pokemons/{{ pokemon.national_number }}.svg" alt="{{ pokemon.name }}"/>
        <figcaption>
          <span class="number">#{{ pokemon?.national_number }}</span>
          <h4 class="name">{{ pokemon?.name }}</h4>
          <ul class="types">
            <li *ngFor="let type of pokemon.types"></li>
          </ul>
          <div class="actions">
            <a href="#"><img src="../../../../assets/images/pokeball-icon.png" width="20"/></a>
            <a href="#"><img src="../../../../assets/images/like.svg" width="20"/></a>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
