<div class="container">
  <div *ngIf="pokemons">
    <app-pokemon-filters [pokemons]="pokemons" (term)="getTerm($event)"></app-pokemon-filters>
  </div>

  <div id="pokemon-list" class="row">
    <div *ngFor="let pokemon of pokemons | filter: term; let i = index;" class="pokemon col-md-3" (mouseover)="hoverPokemon = pokemon" (mouseleave)="hoverPokemon = null" (click)="viewPokemon(pokemon)">
      <figure [ngClass]="hoverPokemon === pokemon ? 'active' : ''" [ngStyle]="hoverPokemon === pokemon && { 'background' : '#fff', 'border': '1px solid #D1D1D1' }">
        <img class="thumb" src="../../../assets/images/pokemons/{{ pokemon?.slug }}.svg" alt="{{ pokemon?.names.french }}" width="140" height="140" />
        <figcaption>
          <h4 class="name">{{ pokemon?.names.french }}</h4>
          <span class="number">#{{ pokemon?.pokedex[0].number }}</span>
        </figcaption>
        <div class="types d-flex justify-content-center">
          <div class="type" *ngFor="let type of pokemon.types">
            <img src="../../../../assets/images/types/{{ type.color }}.svg" width="25" />
          </div>
        </div>
      </figure>
    </div>
    <div *ngIf="pokemons.length === 0" class="col-md-12 text-center no-results">
      Aucun Pokemon trouvé...
    </div>
  </div>
</div>
