@import '../../../../assets/sass/mixins';
@import '../../../../assets/sass/variables';

.container {
  margin-top: 50px;
  font-family: $main-font;

  #filter {
    h4 {
      font-size: 14px;
      text-transform: uppercase;
    }

    #type-list {
      overflow: auto;

      .type {
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-bottom: 13px;
        cursor: pointer;

        img {
          border-radius: 100%;
          padding: 5px;
          width: 100%;
        }
      }
    }

    #search {
      height: 34px;
      @include input-style();
    }
  }

  #pokemon-list {
    margin-top: 50px;

    .no-results {
      font-family: $main-font;
      color: #ddd;
      font-size: 60px;
      margin-top: 120px;
    }

    .pokemon {
      margin-bottom: 40px;
      cursor: pointer;

      figure {
        border: 1px solid #EEEEEE;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin: 0;
        position: relative;
        display: table;
        width: 100%;

        .thumb {
          padding: 20px 20px 0;
          width: 100%;
        }

        figcaption {
          margin: 15px 0 0;
          text-align: center;

          .name {
            font-family: $main-font;
            font-size: 16px;
          }

          .number {
            background: $number-tag;
            border-radius: 24px;
            color: white;
            margin-bottom: 5px;
            padding: 3px 9px;
            display: inline-block;
            font-size: 13px;
          }
        }

        .types {
          padding: 10px 10px 20px;
        }
      }

      .details-section {
        margin-top: 10px;
        position: absolute;
        width: 100%;

        .arrow-up {
          width: 0;
          height: 0;
          margin: 0 auto;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #212F3C;
        }

        .content {
          color: white;
          padding: 15px;
          background: #212F3C;

          .close-window {
            font-size: 18px;
            float: right;
          }

          .number {
            background: white;
            color: #212F3C;
            padding: 3px 5px;
            border-radius: 10px;
          }
        }
      }

      .left {
        left: -280px;
      }

      .right {
        right: -280px;
      }
    }
  }
}

.active {
  background: #eee;
}

::ng-deep .multiselect-dropdown {
  .dropdown-btn {
    .selected-item {
      border: 1px solid $main-red !important;
      background: $main-red !important;
      margin-top: 5px;
    }

    .dropdown-down {
      border-top: 8px solid $main-red !important;
      border-left: 8px solid transparent !important;
      border-right: 8px solid transparent !important;
    }

    .dropdown-up {
      border-bottom: 8px solid $main-red !important;
      border-left: 8px solid transparent !important;
      border-right: 8px solid transparent !important;
    }
  }
}

::ng-deep .multiselect-item-checkbox {
  padding: 12px 10px !important;

  input + div {
    &:before {
      color: $main-red !important;
      border: 2px solid $main-red !important;
    }
  }

  input:checked + div {
    &:before {
      background: $main-red !important;
    }
  }
}

#create--button {
  position: absolute;
  padding: 0px 11px;
  font-size: 50px;
  color: white;
  background: $main-red;
  border: none;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  @include border-radius(100%);

}

::placeholder {
  color: #999;
  font-size: 12px;
  font-style: italic;
}

:-ms-input-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}
