<div class="container">
  <div id="filter" class="row">
    <div class="col-md-12 mb-2">
      <h4>Filtrer par :</h4>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <ng-multiselect-dropdown
            [placeholder]="'Générations'"
            [data]="dropdownGenerations"
            [settings]="dropdownGenerationsSettings"
            (onSelect)="onGenerationSelect($event)"
            (onDeSelect)="onGenerationDeselect($event)"
            (onSelectAll)="onGenerationSelectAll($event)"
            ngDefaultControl
          >
          </ng-multiselect-dropdown>
        </div>
        <!--<div class="col-md-3">
          <ng-multiselect-dropdown
            [placeholder]="'Types'"
            [data]="dropdownTypes"
            [settings]="dropdownTypesSettings"
            (onSelect)="onTypeSelect($event)"
            ngDefaultControl
          >
          </ng-multiselect-dropdown>
        </div>-->
        <div class="col-md-4">
          <input type="text" id="search" class="form-control" [(ngModel)]="term" placeholder="Rechercher un Pokemon..." autocomplete="off"/>
        </div>
      </div>
    </div>
  </div>

  <div id="pokemon-list" class="row">
    <div *ngFor="let pokemon of pokemons | filter: term; let i = index;" class="pokemon col-md-3" (mouseover)="hoverPokemon = pokemon" (mouseleave)="hoverPokemon = null" (click)="viewPokemon(pokemon)">
      <figure [ngClass]="hoverPokemon === pokemon ? 'active' : ''" [ngStyle]="hoverPokemon === pokemon && { 'background' : '#fff', 'border': '1px solid #D1D1D1' }">
        <img class="thumb" src="../../../assets/images/pokemons/{{ pokemon.national }}.svg" alt="{{ pokemon.name }}"/>
        <figcaption>
          <h4 class="name">{{ pokemon?.name }}</h4>
          <span class="number">#{{ pokemon?.national }}</span>
        </figcaption>
        <div class="types d-flex justify-content-center">
          <div class="type" *ngFor="let type of pokemon.types">
            <img src="../../../../assets/images/types/{{ type.color }}.svg" width="30" />
          </div>
        </div>
      </figure>
    </div>
    <div *ngIf="pokemons.length === 0" class="col-md-12 text-center no-results">
      Aucun Pokemon trouvé...
    </div>
  </div>

  <button type="button" id="create--button" *ngIf="user.permissions.includes('ADMIN')" (click)="createPokemon()">+</button>
</div>
